@model s14112310482.ViewModels.ImgIndexVM
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		@{
			int x = 0;
			foreach (var item in Model.ImgList)
			{
				if (x == 0)
				{
					<div class="carousel-item active" data-bs-interval="10000">
						<img src='@Url.Content("~/images/" + item.ImgF)' class="d-block w-100" alt="...">
					</div>
				}
				else
				{
					<div class="carousel-item" data-bs-interval="2000">
						<img src='@Url.Content("~/images/" + item.ImgF)' class="d-block w-100" alt="...">
					</div>
				}
				x++;
			}
		}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
@*
<h1>輪播圖檔</h1>
<table class="table">
	<thead>
		<tr><th>圖檔編號</th> <th>檔案名稱</th> </tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ImgList)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Id) </td>
				<td>@Html.DisplayFor(modelItem => item.ImgF) </td>
			</tr>
		}
	</tbody>
</table>
*@
<hr />
@using (Html.BeginForm("Index", "DrinkTime"))
{
	<div>
		<div class="input-group mb-3">
			<input type="text" id="srhkey" name="srhkey" class="form-control"
				   placeholder="輸入查詢關鍵字" aria-label="Recipient's username"
				   aria-describedby="button-addon2">
			<button class="btn btn-outline-secondary" type="submit" id="button-addon2">查詢</button>
		</div>
	</div>
}
@if (@Model.SrhKey != null)
{
	<h4>目前查詢關鍵字：@Model.SrhKey</h4>
}
<div class="row">
	@if (!Model.ProductList.Count().Equals(0))
	{
		foreach (var item in Model.ProductList)
		{
			<div class="col-sm-6 col-lg-4  col-xl-3">
				<div class="card" style="width: 18rem;">
					<img src ="@Url.Content("~/images/" + item.ImgF)">
						<div class="card-body">
							<h3>@item.Name</h3>
							<p>@item.Difficulty</p>
							<p>@item.Description</p>
							
						</div>
				</div>
			</div>
		}
	}
</div>